

body {
    background-color: grey;
    color: white;
    font-size: 20px;

}
main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
h1, h2{
    text-align: center;
    align-content: center;

}
#sec, #tert{
    display: none;
}


button{
    border-radius: 50px;
    width: 100px;
    height: 100px;
    margin: 5px;
    text-align: center;
    border: 2px solid lightgrey;
    font-size: 1em;
}

.Red {background-color:Red}
.Yellow {background-color:Yellow}
.Blue {background-color:Blue}